input, textarea, button, submit, .chatcontainer {
    background: none;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 4px;
    height: 27px;
}

input[type="button"] {
    padding: 2px;
}

input[type="submit"] {
    margin: auto;
    width: 50px;
}

.chatui {
    display: table;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 440px;
    max-width: 440px;
}

.chatcontainer {
    height: 400px;
    max-width: 440px;
    min-width: 360px;
    padding: 20px;
    display: table-cell;
    vertical-align: bottom;
}

.messagelog {
    max-height: 400px;
    overflow: auto;
}

#namechange {
    width: 80%;
    float: left;
    max-height: 46px;
    overflow: scroll;
}

.myname {
    float: right;
    font-weight: bold;
    text-align: right;
    padding-left: 8px;
}

.theirname {
    float: left;
    font-weight: bold;
    text-align: left;
    padding-right: 8px;
}

.mymessage pre {
    text-align: right;
    overflow: hidden;
    color: var(--alt-text-color);
    margin-bottom: 10px;
}

.theirmessage pre {
    text-align: left;
    overflow: hidden;
    color: var(--alt-text-color);
    margin-bottom: 10px;
}

.systemmessage {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="nametext"] {
    padding-left: 5px;
}

textarea#messagetext {
    padding-left: 10px;
    width: 100%;
    resize: vertical;
}

.messagetextcontainer {
    width: calc(100% - 56px);
    float: left;
}

a[type="home"], a[type="home"]:hover {
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
}